* {
        margin: 0px;
        padding: 0px;
        font-family: 'Exo 2', sans-serif;
        outline: none;
}

body {
        background-image: url('img/bg2.jpg');
        //background-image: url(http://www.myphotos.eu/photos/buildings/cityscape/39_cityscape_photo.jpg) no-repeat;
       	background-size: 110% auto;
}

.form {
        margin-top: 15%;
        padding: 2%;
        float: left;
        width: 45%;

}

.form1 {
        margin-top: 10%;
        padding: 2%;
        float: left;
        width: 45%;

}

.grey {
        color: gray;
}

.smallBox {
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 2px;
        font-size: 20px;
        color: black;
}

.medBox {
        width: 80px;
        height: 40px;
        text-align: center;
        border-radius: 2px;
        font-size: 20px;
        color: black;
}

.taskList {
        float: right;
        width: 45%;
        margin: 1%;
        height: 140%;
}

.whiteHeader {
        float: center;
        background-color: rgba(0, 0, 0, 0.0);
        padding-right: 0.5%;
        padding-bottom: 3%;
        padding-left: 0.5%;
        border-radius: 20px;
}

.username {
        min-width: 100%;
        margin: 1%;
        min-height: 20%;
        text-align: center;
        font-size: 30px;
        border-radius: 10px;
}

.rightForm {
        margin-top: 10%;
        padding: 2%;
        float: right;
        width: 45%;
}

.username1, .email, .phone, .courier, .password1 {
        min-width: 100%;
        margin: 1%;
        height: 6.7%;
        text-align: center;
        font-size: 30px;
        border-radius: 10px;
}

.sign_in {
        margin: 1%;
        width: 100%;
        padding: 10px;
        height: 135px;
        border-radius: 10px;
        text-align: center;
        font-size: 30px;

}

.goal {
        margin: 1%;
        width: 100%;
        padding: 10px;
        height: 135px;
        border-radius: 10px;
        text-align: center;
        font-size: 35px;
		background-color: #3fb8e8;
		color:#fff;
		-webkit-transition: all ease .5s;
		-moz-transition: all ease .5s;
		-o-transition: all ease .5s;
		transition: all ease .5s;
}

.goal:hover {
	background-color: #358db0;
	cursor: pointer;
}

.footer {
        vertical-align: center;
        text-align: center;
        min-height: 15px;
        width: 100%;
}

.aboutBar h1 {
        font-size: 300%;
}

.aboutBar {
        background-color: rgba(255, 255, 255, 0.6);
        margin-top: 10%;
        padding: 2%;
}

.register {
        margin: 1%;
        width: 45%;
        padding: 10px;
        height: 135px;
        border-radius: 10px;
        text-align: center;
        font-size: 30px;
        float: right;
}

.bio1 {
        height: 35%;
        width: 44%;
        background-color: rgba(255, 255, 255, 0.6);
        margin: 1%;
        float: left;
        padding: 1%;
        overflow: hidden;

}

img {
        width: 300px;
        height: auto;
}

.bio1 h3, .bio2 h3 {
        float: right;
        font-size: 20px;
        display: inline-block;
}

.textInBio {
        font-size: 22px;
        width: 50%;
        float: right;
}

.bio2 {
        height: 35%;
        width: 44%;
        background-color: rgba(255, 255, 255, 0.6);
        margin: 1%;
        float: right;
        overflow: hidden;
        padding: 1%;
}


.headerMid {
        vertical-align: center;
        max-height: 8%;
        text-align: center;
        margin: 0px;
        padding: 0px;
}

.password {
        min-width: 100%;
        margin: 1%;
        min-height: 20%;
        text-align: center;
        font-size: 30px;
        border-radius: 10px;
}

.header{
        width: 50%;
        position: absolute;
        text-align: center;
        color: white;
        padding: 0.0%;
}

body, html {
        overflow: hidden;
}

.logo {
        max-width: 40%;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
        opacity: 1;
}

.fade-in {
        opacity: 0;

}

.description {

        margin: 1%;
        min-width: 98%;
        min-height: 4%;
        border-radius: 10px;
        font-size: 20px;
        padding: 2%;
		color: #3fb8e8;
}

.date {

        margin: 1%;
        min-width: 98%;
        min-height: 4%;
        border-radius: 10px;
        font-size: 20px;
        padding: 2%;
        color: #3fb8e8;
}

.frequency {

        margin: 1%;
        min-width: 98%;
        min-height: 4%;
        border-radius: 10px;
        font-size: 20px;
        padding: 2%;
}


.error {
        
        border:3px solid red;
        margin: 1%;
        min-width: 98%;
        min-height: 4%;
        border-radius: 10px;
        font-size: 20px;
        padding: 3%;
        box-shadow: 0 0 20px rgba(250,0,0,.8);

}


/* -------- Eh Buttons -------- */
.demo-pricing {
        margin-top: 10px;
        margin-right: 10px;
        padding: 14px 26px;
        font-size: 14px;
        line-height: 100%;
        text-shadow: 0 1px rgba(0, 0, 0, 0.4);
        color: #fff;
        display:inline-block;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        transition: background 0.1s ease-in-out;
        -webkit-transition: background 0.1s ease-in-out;
        -moz-transition: background 0.1s ease-in-out;
        -ms-transition: background 0.1s ease-in-out;
        -o-transition: background 0.1s ease-in-out;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;

}
.demo-pricing:active {
        padding-top: 15px;
        margin-bottom: -1px;
}
.demo-pricing, .demo-pricing:hover, .demo-pricing:active {
        outline: 0 none;
        text-decoration: none;
        color: #fff;
}

.demo-pricing-1 {
        background-color: #3fb8e8;
        box-shadow: 0px 3px 0px 0px #3293ba;
}
.demo-pricing-1:hover {
        background-color: #1baae3;
}
.demo-pricing-1:active {
        box-shadow: 0px 1px 0px 0px #3293ba;
}


.demo-pricing-2 {
        background-color: #1F7A99;
        box-shadow: 0px 3px 0px 0px #16556B;
}
.demo-pricing-2:hover {
        background-color: #7399A6;
}
.demo-pricing-2:active {
        box-shadow: 0px 1px 0px 0px #222E32;
}

.demo-pricing-3 {
        background-color: #003366;
        box-shadow: 0px 3px 0px 0px #4D7094;
}
.demo-pricing-3:hover {
        background-color: #00248F;
}
.demo-pricing-3:active {
        box-shadow: 0px 1px 0px 0px #00248F;
}

.demo-pricing-4 {
        background-color: #6699FF;
        box-shadow: 0px 3px 0px 0px #336699;
}
.demo-pricing-4:hover {
        background-color: #003399;
}
.demo-pricing-4:active {
        box-shadow: 0px 1px 0px 0px #003399;
}

.demo-pricing-6 {
        background-color: #1F7A99;
        box-shadow: 0px 3px 0px 0px #16556B;
}
.demo-pricing-6:hover {
        background-color: #7399A6;
}
.demo-pricing-6:active {
        box-shadow: 0px 1px 0px 0px #222E32;
}

.sendEmail {
        margin-top: 10px;
        margin-right: 10px;
        padding: 14px 26px;
        font-size: 14px;
        line-height: 100%;
        text-shadow: 0 1px rgba(0, 0, 0, 0.4);
        color: #fff;
        display:inline-block;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        transition: background 0.1s ease-in-out;
        -webkit-transition: background 0.1s ease-in-out;
        -moz-transition: background 0.1s ease-in-out;
        -ms-transition: background 0.1s ease-in-out;
        -o-transition: background 0.1s ease-in-out;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-family: Century Gothic;
        font-size: 150%;
        width: 100%;
}

.demo-pricing img {
        width: auto;
        height: 60px;
}

/* ------------- Table --------- */

.goalsTableContainer {
	color: #fff;	
}

.goalsTable {
	width: 100%;
	color: #fff;
	background: rgba(0,0,0,.5);
	font-size: 20px;
	text-align: center;
	border-collapse: collapse;
	margin: 0 auto;
}

.goalsTable td {
	border: collapse;
	border-top: 2px solid #fff;
	padding: 5px;
	width: 33%;
}

/* ------- Dropdown ------- */
#cssmenu {
  background: #333;
  margin: 0;
  padding: 0;
  width: 13%;
  display: inline-block;
  margin: 0px;
  font-size: 25px;
  text-align: center;
}
#cssmenu li {
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0px;
}

#cssmenu li {
  background: #333;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: normal;
  margin: 0px;
}
#cssmenu li:hover {
  background: #2580a2 url('hover.gif') left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
  margin: 0px;
}

#cssmenu a:active {
        background: red;
}

#cssmenu a:focus {
        background: red;
}: red;
}